.wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
}

.endhead {
    grid-column: 3/4;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
}

.endmain {
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer {
    grid-column: 2/3;
}