.wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.header {
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
}

.endmain {
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer {
    grid-column: 2/3;
}